# Individual Assignment, Topik Zulkarnain

In [2]:
import pandas as pd
imdb = pd.read_csv("IMDB-database-update.csv",encoding='latin1')
imdb.head(10)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,1,855,4834,1,33000,0,886204,3054,7.9,0
1,2,Pirates of the Caribbean: At World's End,169,1,2007,USA,English,PG-13,300000000,309404152,...,1,1000,48350,0,0,0,471220,1238,7.1,0
2,3,The Dark Knight Rises,164,1,2012,USA,English,PG-13,250000000,448130642,...,1,23000,106759,1,164000,0,1144337,2701,8.5,1
3,4,Spider-Man 3,156,1,2007,USA,English,PG-13,258000000,336530303,...,1,4000,46055,0,0,0,383056,1902,6.2,0
4,5,Batman v Superman: Dawn of Justice,183,1,2016,USA,English,PG-13,250000000,330249062,...,1,2000,24450,1,197000,0,371639,3018,6.9,0
5,6,Superman Returns,169,1,2006,USA,English,PG-13,209000000,200069408,...,1,903,29991,0,0,0,240396,2367,6.1,0
6,7,Man of Steel,143,1,2013,USA,English,PG-13,225000000,291021565,...,1,748,20495,1,118000,0,548573,2536,7.2,0
7,8,The Hobbit: The Battle of the Five Armies,164,1,2014,New Zealand,English,PG-13,250000000,255108370,...,1,773,9152,1,65000,0,354228,802,7.5,0
8,9,The Amazing Spider-Man,153,1,2012,USA,English,PG-13,230000000,262030663,...,1,963,28489,1,56000,0,451803,1225,7.0,0
9,10,Robin Hood,156,1,2010,USA,English,PG-13,200000000,105219735,...,1,738,3244,1,17000,0,211765,546,6.7,0

## 1. How many rows and columns reflected on dataset file IMDB-database-update.csv ?

In [5]:
# Nomor 1
# Mencari jumlah baris dan jumlah kolom dari dataset IMDB-database-update.csv
imdb.shape

(3781, 36)

## 2. What are the top 3 movies with highest nett profit in 2019

In [60]:
# Nomor 2
# Mencari 3 film teratas dengan keuntungan nett terbesar pada tahun 2013

Movies2013 = imdb[imdb.title_year == 2013]
Movies2013.head(10)
data = pd.DataFrame({'Net Profit' : Movies2013['net_USD'], 'judul':Movies2013["movie_title"]})
TopMovies2013 = data.sort_values(by="Net Profit",ascending=False)
TopMovies2013.head(3)

      Net Profit                            judul
1614   294645577  The Hunger Games: Catching Fire
236    292049635                  Despicable Me 2
57     250736600                           Frozen

## 3. What are the top 3 movies with highest gross profit in 2019 ?

In [59]:
# Nomor 3
# Mencari 3 film teratas dengan gross terbesar pada tahun 2009

Movies2009 = imdb[imdb.title_year == 2009]
data = pd.DataFrame({'Gross' : Movies2009['gross_USD'], 'judul':Movies2009["movie_title"]})
TopMovies2009 = data.sort_values(by='Gross',ascending=False)
data.head(3)

        Gross                                judul
0   760505847                               Avatar
19  402076689  Transformers: Revenge of the Fallen
23  125320003                 Terminator Salvation

In [ ]:
Movies2009 = imdb[imdb.title_year == 2009]

## 4. How many non-english movies are in the dataset ?

In [104]:
# Nomor 4
#mencari jumlah movies yang non-english
non_english = imdb[imdb['language'] != 'English']
len(non_english)

153

(153, 36)

## 5. What are top 3 languages in the dataset aside English ?

In [105]:
# Nomor 5
# mencari film dengan bahasa non-english terbanyak
non_english["language"].value_counts().head(3)

French      33
Spanish     23
Mandarin    14
Name: language, dtype: int64

## 6. What are top 3 countries with highest nett profitt in all dataset times

In [129]:
top_country = imdb.groupby('country').mean().sort_values(by = 'net_USD', ascending=False).head(3)
top_country

,movie_ID,duration,color,title_year,budget_USD,gross_USD,net_USD,profitable,director_facebook?,director_facebook_likes,...,actor_3_facebook?,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250
country,,,,,,,,,,,,,,,,,,,,,
South Africa,2307.666667,109.333333,0.666667,2010.333333,1.900000e+07,5.358008e+07,3.458008e+07,0.666667,1.000000,281.000000,...,1.000000,3373.000000,12929.666667,1.000000,27000.000000,1.666667,209225.666667,515.000000,7.433333,0.000000
New Zealand,1748.636364,144.181818,1.000000,2004.272727,9.572727e+07,1.180145e+08,2.228725e+07,0.636364,0.454545,43.363636,...,1.000000,225.545455,7609.000000,0.272727,8818.181818,0.818182,250762.545455,1357.909091,7.481818,0.090909
USA,1886.325357,109.412762,0.971751,2003.050847,4.043880e+07,5.772159e+07,1.728280e+07,0.574610,0.828847,920.527750,...,0.993353,837.961781,12361.366235,0.547026,9398.281489,1.418079,108499.381522,336.723829,6.383317,0.037886

## 7. What are the averag budget of all movies in 2013

In [123]:
# No 7
# Mencari rata -rata budget film tahun 2013
Movies2013 = imdb[imdb.title_year == 2013]
Budget2013 = Movies2013.budget_USD.mean()
Budget2013

51069610.77439024

## 8. What are the average budget of all movies in 2014

In [124]:
# No 8
#Mencari rata-rata budget film tahun 2014
Movies2014 = imdb[imdb.title_year == 2014]
Budget2014 = Movies2014.budget_USD.mean()
Budget2014

49919006.62251656

## 9. Which one higher, average budget in 2013 or 2014?

In [125]:
# no 9
# menentukan rata-rata budget film tertinggi antara tahun 2013 dan 2014
if Budget2013 > Budget2014 :
    print ('Rata-rata budget film tahun 2013 lebih tinggi dibanding tahun 2014')
else:
    print ('Rata-rata budget film tahun 2014 lebih tinggi dibanding tahun 2013')

Rata-rata budget film tahun 2013 lebih tinggi dibanding tahun 2014

## 10. Highest nett profit of all time

In [115]:
# No 10
# mencari informasi film dengan nett profit tertinggi pada semua tahun, berdasarkan hasil yang didapat film Avatar adalah film dengan
# nett tertinggi dengan jumlah sebesar 523505847

imdb.sort_values(by="net_USD",ascending=False)

,movie_ID,movie_title,duration,color,title_year,country,language,content_rating,budget_USD,gross_USD,...,actor_3_facebook_likes,cast_total_facebook_likes,movie_facebook?,movie_facebook_likes;,facenumber_in_poster,num_voted_users,num_user_for_reviews,imdb_score,imdb_top_250,score_group
0,1,Avatar,178,1,2009,USA,English,PG-13,237000000,760505847,...,855,4834,1,33000,0,886204,3054,7.9,0,High
14,15,Jurassic World,124,1,2015,USA,English,PG-13,150000000,652177271,...,1000,8458,1,150000,0,418214,1290,7.0,0,Low
11,12,Titanic,194,1,1997,USA,English,PG-13,200000000,658672302,...,794,45223,1,26000,0,793059,2528,7.7,0,High
2294,2295,Star Wars: Episode IV - A New Hope,125,1,1977,USA,English,PG,11000000,460935665,...,504,13485,1,33000,1,911097,1470,8.7,1,High
1112,1113,E.T. the Extra-Terrestrial,120,1,1982,USA,English,PG,10500000,434949459,...,548,2811,1,34000,0,281842,515,7.9,0,High
3154,3155,The Avengers,173,1,2012,USA,English,PG-13,220000000,623279547,...,19000,87697,1,123000,3,995415,1722,8.1,1,High
3095,3096,The Avengers,173,1,2012,USA,English,PG-13,220000000,623279547,...,19000,87697,1,123000,3,995415,1722,8.1,1,High
231,232,The Lion King,73,1,1994,USA,English,G,45000000,422783777,...,847,6458,1,17000,0,644348,656,8.5,1,High
1623,1624,Star Wars: Episode I - The Phantom Menace,136,1,1999,USA,English,PG,115000000,474544677,...,1000,37723,1,13000,1,534658,3597,6.5,0,Low
32,33,The Dark Knight,152,1,2008,USA,English,PG-13,185000000,533316061,...,11000,57802,1,37000,0,1676169,4667,9.0,1,High
198,199,The Hunger Games,142,1,2012,USA,English,PG-13,78000000,407999255,...,575,49942,1,140000,0,701607,1959,7.3,0,Low
355,356,Deadpool,108,1,2016,USA,English,R,58000000,363024263,...,361,18239,1,117000,0,479047,1058,8.1,1,High
1614,1615,The Hunger Games: Catching Fire,146,1,2013,USA,English,PG-13,130000000,424645577,...,523,49355,1,82000,1,498397,706,7.6,0,High
312,313,Jurassic Park,127,1,1993,USA,English,PG-13,63000000,356784000,...,191,2129,1,19000,0,613473,895,8.1,1,High
236,237,Despicable Me 2,98,1,2013,USA,English,PG,76000000,368049635,...,1000,11905,1,56000,0,286877,284,7.5,0,Low
356,357,American Sniper,133,1,2014,USA,English,R,58800000,350123553,...,318,16277,1,112000,0,325264,916,7.3,0,Low
155,156,Finding Nemo,100,1,2003,USA,English,G,94000000,380838870,...,799,5641,1,11000,0,692482,866,8.2,1,High
1706,1707,Shrek 2,93,1,2004,USA,English,PG,150000000,436471036,...,48,1148,0,0,1,314630,483,7.2,0,Low
2598,2599,The Lord of the Rings: The Return of the King,192,1,2003,USA,English,PG-13,94000000,377019252,...,416,6434,1,16000,2,1215718,3189,8.9,1,High
598,599,Star Wars: Episode VI - Return of the Jedi,134,1,1983,USA,English,PG,32500000,309125409,...,504,13649,1,14000,0,681857,647,8.4,1,High
361,362,Forrest Gump,142,0,1994,USA,English,PG-13,55000000,329691196,...,194,15700,1,59000,0,1251222,1398,8.8,1,High
777,778,Star Wars: Episode V - The Empire Strikes Back,127,1,1980,USA,English,PG,18000000,290158751,...,441,12643,1,17000,0,837759,900,8.8,1,High
3598,3599,Home Alone,103,1,1990,USA,English,PG,18000000,285761243,...,925,7521,1,20000,5,311075,305,7.5,0,Low
3399,3400,Star Wars: Episode III - Revenge of the Sith,140,1,2005,USA,English,PG-13,113000000,380262555,...,4000,44042,1,10000,4,520104,3286,7.6,0,High
78,79,Spider-Man,121,1,2002,USA,English,PG-13,139000000,403706375,...,4000,40484,1,5000,0,544665,2012,7.3,0,Low
256,257,Minions,91,1,2015,USA,English,PG,74000000,336029560,...,1000,13616,1,70000,0,142403,275,6.4,0,Low
470,471,The Sixth Sense,107,1,1999,USA,English,PG-13,40000000,293501675,...,766,17540,1,14000,0,704766,2073,8.1,1,High
1055,1056,Jaws,130,1,1975,USA,English,PG,8000000,260000000,...,366,2047,1,21000,0,412454,962,8.0,0,High
57,58,Frozen,102,1,2013,USA,English,PG,150000000,400736600,...,490,2582,1,58000,0,421658,904,7.6,0,High
235,236,The Secret Life of Pets,87,1,2016,Japan,English,PG,75000000,323505540,...,745,4782,1,36000,0,24407,155,6.8,0,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2561,2562,Prince of Persia: The Sands of Time,116,1,2010,USA,English,PG-13,200000000,90755643,...,236,16149,1,23000,2,222403,453,6.6,0,Low
2558,2559,The Golden Compass,113,1,2007,USA,English,PG-13,180000000,70083519,...,1000,24106,0,0,2,149019,666,6.1,0,Low
125,126,Speed 2: Cruise Control,121,1,1997,USA,English,PG-13,160000000,48068396,...,202,2027,1,894,0,60573,248,3.7,0,Low
47,48,Warcraft,123,1,2016,USA,English,PG-13,160000000,46978995,...,648,5505,1,89000,0,111609,781,7.3,0,Low
3533,3534,Pan,111,1,2015,USA,English,PG,150000000,34964818,...,394,21404,1,24000,4,39975,186,5.8,0,Low
3393,3394,Pan,111,1,2015,USA,English,PG,150000000,34964818,...,394,21393,1,24000,4,39956,186,5.8,0,Low
3401,3402,Pan,111,1,2015,USA,English,PG,150000000,34964818,...,394,21393,1,24000,4,39956,186,5.8,0,Low
3101,3102,Alexander,206,1,2004,Germany,English,R,155000000,34293771,...,591,24598,0,0,3,138863,1390,5.5,0,Low
1593,1594,The Lone Ranger,150,1,2013,USA,English,PG-13,215000000,89289910,...,1000,45757,1,48000,1,181792,711,6.5,0,Low
69,70,Mars Needs Moms,88,1,2011,USA,English,PG,150000000,21379315,...,433,2652,0,0,0,17590,112,5.4,0,Low
1597,1598,Jupiter Ascending,127,1,2015,USA,English,PG-13,176000000,47375327,...,13000,47334,1,44000,1,139593,720,5.4,0,Low
1596,1597,Jack the Giant Slayer,114,1,2013,USA,English,PG-13,195000000,65171860,...,140,1766,1,22000,1,106416,205,6.3,0,Low
2570,2571,47 Ronin,128,1,2013,USA,English,PG-13,175000000,38297305,...,982,20965,1,35000,2,116994,324,6.3,0,Low
13,14,Battleship,131,1,2012,USA,English,PG-13,209000000,65173160,...,627,26679,1,44000,0,202382,751,5.9,0,Low
40,41,The Polar Express,100,1,2004,USA,English,G,165000000,665426,...,267,16264,1,10000,0,120798,444,6.6,0,Low
1261,1262,The Protector,111,1,2005,Thailand,Thai,R,200000000,11905519,...,380,2205,0,0,0,30210,214,7.1,0,Low
1590,1591,John Carter,132,1,2012,USA,English,PG-13,263700000,73058679,...,530,1873,1,24000,1,212204,738,6.6,0,Low
1002,1003,Ong-bak 2,110,1,2008,Thailand,Thai,R,300000000,102055,...,7,134,0,0,0,24570,72,6.2,0,Low
426,427,The Messenger: The Story of Joan of Arc,158,1,1999,France,English,R,390000000,14131298,...,15,144,0,0,0,55889,390,6.4,0,Low
3317,3318,The Legend of Suriyothai,300,1,2001,Thailand,Thai,R,400000000,454255,...,6,32,1,124,3,1666,47,6.6,0,Low
3436,3437,Red Cliff,150,1,2008,China,Mandarin,R,553632000,626809,...,478,2172,0,0,4,36894,105,7.4,0,Low
2956,2957,Kabhi Alvida Naa Kehna,193,1,2006,India,Hindi,R,700000000,3275443,...,860,10822,1,659,2,13998,264,6.0,0,Low
3345,3346,Tango,115,1,1998,Spain,Spanish,PG-13,700000000,1687311,...,4,371,1,539,3,2412,40,7.2,0,Low
1484,1485,Godzilla 2000,99,1,1999,Japan,Japanese,PG,1000000000,10037390,...,3,53,1,339,0,5442,140,6.0,0,Low
1199,1200,Akira,124,1,1988,Japan,Japanese,R,1100000000,439162,...,4,28,0,0,0,106160,430,8.1,1,High
2150,2151,Steamboy,103,1,2004,Japan,Japanese,PG-13,2127519898,410388,...,101,991,1,973,1,13727,79,6.9,0,Low
874,875,Princess Mononoke,134,1,1997,Japan,Japanese,PG-13,2400000000,2298191,...,745,2710,1,11000,0,221552,570,8.4,1,High
1091,1092,Fateless,134,1,2005,Hungary,Hungarian,R,2500000000,195888,...,0,11,1,607,0,5603,45,7.1,0,Low
1324,1325,Lady Vengeance,112,1,2005,South Korea,Korean,R,4200000000,211667,...,38,907,1,4000,0,53508,131,7.7,0,High
1084,1085,The Host,110,1,2006,South Korea,Korean,R,12215500000,2201412,...,74,1173,1,7000,0,68883,279,7.0,0,Low

Index(['movie_ID', 'movie_title', 'duration', 'color', 'title_year', 'country',
       'language', 'content_rating', 'budget_USD', 'gross_USD', 'net_USD',
       'profitable', 'director_name', 'director_top20?', 'director_facebook?',
       'director_facebook_likes', 'actor_1_name', 'actor_top20?',
       'actor_1_facebook?', 'actor_1_facebook_likes', 'actor_2_name',
       'actor_top20?.1', 'actor_2_facebook?', 'actor_2_facebook_likes',
       'actor_3_name', 'actor_top20?.2', 'actor_3_facebook?',
       'actor_3_facebook_likes', 'cast_total_facebook_likes',
       'movie_facebook?', 'movie_facebook_likes;', 'facenumber_in_poster',
       'num_voted_users', 'num_user_for_reviews', 'imdb_score',
       'imdb_top_250'],
      dtype='object')

502177271